/* .navbarContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
} */

.brand {
    float: left !important;
}

.image {
    float: right !important;
}