.size {
    position: absolute;
    height: 50vh; 
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    max-width: 95%; 
}

.overlay {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay img {
    width: auto; 
    max-width: 100%;
    max-height: 100%;
}

@media (max-height: 1500px) {
    .size {
        height: 35%; 
    }
    .overlay img {
        max-width: 50%; 
    }
}
