.load {
    display: flex;
    background-color: var(--background-color);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px rgb(165, 255, 165);
    border-color:rgb(74,246,38);
    padding: 3px;
    margin: 0 10px;
}

.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameHistoryList {
    list-style: none;
    padding: 0;
    text-align: center;
}

.gameHistoryItem {
    margin: 10px 0;
}