.game_window {
	display: flex;
	width: 400px;
	height: 400px;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 5px rgb(165, 255, 165);
	border-color:rgb(74,246,38);
	z-index: 10;
}

/* @media (max-width: 768px) {
    .game_window {
        width: 90%;
    }
} */

/* #game_window {
	display: flex;
	width: 1000px;
	height: 1000px;
} */
