.container {
    margin-top: 9vh;
    display: flex;
    justify-content: center;
}


.homerow {
    width: 80%;
    height: 80%;
}

.gamecol {
    aspect-ratio: 4 / 5 ;
    height: auto;
}


@media (min-width: 1200px) {
    .container {
        margin-top: 7vh;
    }

    .homerow {
        width: 70%;
        height: 70%;
    }
}

