.potentialFriendsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    height: calc(100vh - 50px);
    /* overflow-y: auto; */
    /* padding: 20px; */
}
   
.search {
    width: 100%;
    height: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--background-color);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px rgb(165, 255, 165);
    border-color:rgb(74,246,38);
}
   
.potentialFriendsContainer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* border-bottom: 1px solid rgb(74,246,38);  */
    margin-top: 20px;
}
   
.load {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    background-color: var(--background-color);
    /* border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px rgb(165, 255, 165);
    border-color:rgb(74,246,38); */
    padding: 3px;
    margin: 0 10px;
}

   
.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search::placeholder {
    color:black;
    /* color: rgb(74,246,38); */
}

.p {
    cursor: pointer;
}
